{% extends "base.html" %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
<h1>Privacy policy</h1>

<p>Minderbot protects your privacy. If you use this service, the
following information may be stored on our servers:</p>

<ol>
<li>Your email address.</li>
<li>Your password, encrypted using SHA-1 with salt.</li>
<li>Your IP address, to prevent multiple votes for feedback.</li>
<li>Your session cookie.</li>
<li>Your reminders.</li>
</ol>

<p>Your information listed above is private and will not be shown to
other users of the Minderbot service. However, it will be available to
Minderbot and Google engineers because it is stored in the App Engine
Datastore.</p>

<p>This policy incorporates the Google App Engine privacy notice:<br />
<a href="http://code.google.com/appengine/privacy.html">http://code.google.com/appengine/privacy.html</a>
{% endblock %}
