body { padding: 20px 20px; }

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
  line-height: 36px;
  margin-bottom: 0;
}
h2.error, h2.success {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.4em;
}

div.small {
  margin: 0;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.image16x16 {
  vertical-align: top;
  padding-top: 2px;
}

table.form { width: 44em; }
table.form th { padding: 0 1em 0 0; }
table.form td { padding: 0; }

input.h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 3em;
  line-height: 1;
  position: relative;
  top: -10px;
}

input.h1,
td input.text {
  margin-top: 0;
  margin-bottom: 0;
}

.invisible {
  visibility: hidden;
}
