body { padding: 20px 20px; }

h2 {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 0;
}

p,th,td,li {
  font-size: 14px;
  line-height: 18px;
}
.small {
  font-size: 12px;
  line-height: 18px;
}
div.small {
  margin: 0;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.gray { color: #666; }
.lightgray { color: #AAA; }
.white { color: #FFF; }

.image16x16 {
  vertical-align: top;
  padding-top: 2px;
}

table.form { width: 44em; }
table.form th { padding: 0 1em 0 0; }
table.form td { padding: 0; }
