{% extends "base.html" %}

{% block title %}{{ suggestion.title }}{% endblock %}

{% block content %}
<h1>{{ suggestion.title }}</h1>

<p>Every {{ suggestion.interval }}</p>

<p>{% for tag in suggestion.tags %}
<a href="/tags/{{ tag }}/">{{ tag }}</a>
{% endfor %}</p>

<form action="" method="post">
<p>
{% if request.user.is_anonymous %}
For automatic reminders, enter your email address here:<br />
{{ email_form.email }}
{% endif %}
<input type="submit" value="Create a reminder" id="button" />
{% if request.user.is_authenticated %}
for <b>{{ request.user.email }}</b>
{% endif %}
</p>
</form>
{% endblock %}
