{% extends "base.html" %}

{% block title %}{{ suggestion.title }}{% endblock %}

{% block content %}
<form action="" method="post">
<h1>{{ reminder_form.title }}</h1>

<table>
<tr><td>Every</td><td>{{ reminder_form.interval }}</td></tr>
<tr><td>Tags:</td><td>{{ reminder_form.tags }}</td></tr>
{% if request.user.is_anonymous %}
<tr><td>Email:</td><td>{{ reminder_form.email }}</td></tr>
{% endif %}
<tr><td></td>
<td><input type="submit" value="Create a reminder" id="button" /></td>
</tr>
</table>
</form>
{% endblock %}
