{% extends "base.html" %}

{% block title %}Consistency check{% endblock %}

{% block content %}
<h1>Consistency check</h1>

<p>This page checks the consistency of the datastore.
It is only visible for staff members.</p>

{% if consistency_results %}
{% for name, headline, items, button in consistency_results %}
<div class="span-17 last">
<h2 class="error">{{ headline }}</h2>
<ul>
{% for item in items %}<li>{{ item }}</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="{{ name }}" value="{{ button }}" /></p>
</form>
</div>
{% endfor %}
{% else %}
<div class="span-17 last">
<h2 class="success">No problems found.</h2>
</div>
{% endif %}

{% endblock %}
