{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript">
$(document).ready(function() {
  $('div#suggestion_form').hide();
  $('a#suggestion_toggle').click( function() {
    $('div#suggestion_form').slideToggle(500);
    return false;
  });
  $('input#id_title').keyup( function() {
    $('input#id_slug').val($('input#id_title').val().toLowerCase().replace(/\s+/g, '-'));
    $('input#id_tags').val($('input#id_title').val().toLowerCase());
  });
});
</script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<p>This page shows the current system status.
It is only visible for staff members.</p>

<div class="span-6">
<h2>Latest suggestions</h2>
<div class="small quiet">
{% if suggestion_count_24h %}{{ suggestion_count_24h }} in 24 hours,{% endif %}
{% if suggestion_count_7d %}{{ suggestion_count_7d }} in 7 days,{% endif %}
{{ suggestion_count }} total
</div>
<ul>
{% for suggestion in suggestion_list %}
<li><a href="{{ suggestion.get_absolute_url }}">{{ suggestion }}</a></li>
{% endfor %}
</ul>
<p><a id="suggestion_toggle" href="#">Add more?</a></p>
</div>

<div class="span-6">
<h2>Newest tags</h2>
<div class="small quiet">
{% if tag_count_24h %}{{ tag_count_24h }} in 24 hours,{% endif %}
{% if tag_count_7d %}{{ tag_count_7d }} in 7 days,{% endif %}
{{ tag_count }} total
</div>
<p>
{% for tag in tag_list %}
<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
{% endfor %}
</p>
</ul>
</div>

<div class="span-5 last">
<h2>Newest users</h2>
<div class="small quiet">
{% if user_count_24h %}{{ user_count_24h }} in 24 hours,{% endif %}
{% if user_count_7d %}{{ user_count_7d }} in 7 days,{% endif %}
{{ user_count }} total
</div>
<ul>
{% for user in user_list %}
<li>{{ user.email }}</li>
{% endfor %}
</ul>
</div>

<div class="span-17 last" id="suggestion_form">
<form method="post" action="">
<table>
<tr><th>Title:</th><td>{{ suggestion_form.title }}</td></tr>
<tr><th>Slug:</th><td>{{ suggestion_form.slug }}</td></tr>
<tr><th>Tags:</th><td>{{ suggestion_form.tags }}</td></tr>
<tr><th>Every:</th><td>
{{ suggestion_form.days }} days or
{{ suggestion_form.months }} months or
{{ suggestion_form.years }} years or
{{ suggestion_form.miles }} miles or
{{ suggestion_form.kilometers }} km
</td></tr>
<tr><th></th><td><input type="submit" value="Add suggestion"/></td></tr>
</table>
</form>
</div>
{% endblock %}
