{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript">
$(document).ready(function() {
  $('div#suggestion_form').hide();
  $('a#suggestion_toggle').click( function() {
    $('div#suggestion_form').slideToggle(500);
    return false;
  });
});
</script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<p>This page shows the current system status.
It is visible for staff members only.</p>

<div class="span-6">
<h2>Latest suggestions</h2>
<p class="small gray">
{{ suggestion_count_24h }} in 24 hours,
{{ suggestion_count_7days }} in 7 days,
{{ suggestion_count }} total
</p>
<ul>
{% for suggestion in suggestion_list %}
<li><a href="{{ suggestion.get_absolute_url }}">{{ suggestion }}</a></li>
{% endfor %}
</ul>
<p><a id="suggestion_toggle" href="#">Add more?</a></p>
</div>

<div class="span-6">
<h2>Newest tags</h2>
<p class="small gray">
{{ tag_count_24h }} in 24 hours,
{{ tag_count_7days }} in 7 days,
{{ tag_count }} total
</p>
<p>
{% for tag in tag_list %}
<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
{% endfor %}
</p>
</ul>
</div>

<div class="span-5 last">
<h2>Newest users</h2>
<p class="small gray">
{{ user_count_24h }} in 24 hours,
{{ user_count_7days }} in 7 days,
{{ user_count }} total
</span>
</p>
<ul>
{% for user in user_list %}
<li>{{ user.username }}
{% if user.first_name %}({{ user.first_name }}){% endif %}</li>
{% endfor %}
</ul>
</div>

<div class="span-17 last" id="suggestion_form">
<form method="post" action="">
<table>
{{ suggestion_form }}
<tr><th></th><td><input type="submit" value="Add suggestion"/></td></tr>
</table>
</form>
</div>

{% if missing_tags %}
<div class="span-17 last">
<h2>Missing tags</h2>
<ul>
{% for tag, suggestion in missing_tags %}
<li><a href="{{ suggestion.get_absolute_url }}">{{ suggestion }}</a>
references {{ tag }}.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="create_tags"
value="Create missing tags" /></p>
</form>
</div>
{% endif %}

{% if missing_tag_suggestions %}
<div class="span-17 last">
<h2>Missing tag suggestions</h2>
<ul>
{% for tag, suggestion in missing_tag_suggestions %}
<li><a href="{{ suggestion.get_absolute_url }}">{{ suggestion }}</a> references
<a href={{ tag.get_absolute_url }}>{{ tag }}</a> but not vice versa.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="create_tag_suggestions"
value="Create missing references" /></p>
</form>
</div>
{% endif %}

{% if missing_suggestions %}
<div class="span-17 last">
<h2>Missing suggestions</h2>
<ul>
{% for suggestion, tag in missing_suggestions %}
<li>Tag <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
references {{ suggestion }}.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="delete_tag_suggestions"
value="Delete dangling references" /></p>
</form>
</div>
{% endif %}

{% if missing_suggestion_tags %}
<div class="span-17 last">
<h2>Missing suggestion tags</h2>
<ul>
{% for suggestion, tag in missing_suggestion_tags %}
<li>Tag <a href="{{ tag.get_absolute_url }}">{{ tag }}</a> references
<a href="{{ suggestion.get_absolute_url }}">{{ suggestion }}</a>
but not vice versa.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="create_suggestion_tags"
value="Create missing references" /></p>
</form>
</div>
{% endif %}

{% if incorrect_tag_count %}
<div class="span-17 last">
<h2>Incorrect usage count</h2>
<ul>
{% for tag in incorrect_tag_count %}
<li>Tag <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
has {{ tag.suggestions|length }} suggestions,
but count is {{ tag.count }}.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="adjust_tag_count"
value="Adjust incorrect counts" /></p>
</form>
</div>
{% endif %}

{% if incorrect_tag_created %}
<div class="span-17 last">
<h2>Incorrect tag timestamp</h2>
<ul>
{% for tag in incorrect_tag_created %}
<li>Tag <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
is missing a timestamp.</li>
{% endfor %}
</ul>
<form action="" method="post">
<p><input type="submit" name="adjust_tag_created"
value="Adjust incorrect timestamps" /></p>
</form>
</div>
{% endif %}

{% endblock %}
